@import "reset.scss";
@import "standart.scss";

.header {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;

    a {
        transition: color 0.2s ease-in-out;
        &:hover {
            color: #e2b587;
        }
    }

    &-line {
        border-bottom: 1px solid #32323d;

        &__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 2px;
            padding-bottom: 8px;
        }
    }

    .header-content {
        border-bottom: 1px solid #32323d;
        font-size: 15px;

        &__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 768px) {
                padding: 15px 0;
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 0 35px;

        @media (max-width: 1200px) {
            gap: 0 25px;
        }

        @media (max-width: 992px) {
            gap: 0 20px;
        }

        @media (max-width: 768px) {
            gap: 10px 15px;
            margin-right: 25px;
            flex-wrap: wrap;
        }
    }

    .logo {
        margin-right: auto;
        margin-left: auto;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &-actions {
        &__list {
            display: flex;
            align-items: center;
            gap: 0 30px;

            @media (max-width: 1200px) {
                gap: 0 25px;
            }

            @media (max-width: 992px) {
                gap: 0 20px;
            }

            @media (max-width: 768px) {
                gap: 0 15px;
            }
        }
    }
}

.main {
}
.product {
    padding: 80px 0;
    @media (max-width: 768px) {
        padding: 50px 0;
    }
    @media (max-width: 576px) {
        padding: 20px 0;
    }
    &__inner {
    }

    &__title {
        font-size: 60px;
        line-height: 144%;
        margin-bottom: 60px;

        @media (max-width: 768px) {
            font-size: 40px;
            line-height: 124%;
            margin-bottom: 40px;
        }
        @media (max-width: 576px) {
            font-size: 30px;
            margin-bottom: 30px;
        }
    }
}

.product-card {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 576px) {
        flex-direction: column;
        gap: 20px 0;
    }
    gap: 0 50px;

    &__image {
        padding: 60px 290px;
        @media (max-width: 1200px) {
            padding: 40px 200px;
        }
        @media (max-width: 992px) {
            padding: 30px 145px;
        }
        @media (max-width: 768px) {
            padding: 15px 145px;
        }
        background-color: #14141d;
        border-radius: 10px;
        img {
            object-fit: cover;
            width: 100%;
            @media (max-width: 992px) {
                width: auto;
                max-height: 195px;
            }
        }
    }

    &__content {
        max-width: 400px;
        max-height: 250px;
        padding: 30px;
        background-color: #14141d;
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
    }

    &__cost {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 30px;
        span {
            margin-left: 30px;
            color: #818181;
            text-decoration: line-through;
        }
    }

    &__sizes {
        display: flex;
        gap: 0 10px;
        align-items: center;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    &__size {
        display: flex;
        align-items: center;
        font-size: 22px;
        border-radius: 5px;
        text-align: center;
        border: 2px solid #ffffff;
        &:first-child {
            padding: 7px 17.5px;
        }
        &:nth-child(2) {
            padding: 7px 10.5px;
            border: 2px solid #c7a17a;
        }

        &:last-child {
            padding: 7px 3px;
        }
    }

    &__button {
        padding: 14px 115px;
        white-space: nowrap;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product-card-size__button {
        background-color: transparent;
        color: #fff;
        font-family: Jost, sans-serif;
        font-weight: 600;
        font-size: 22px;
    }
}

.description {

    &__title {
        font-size: 24px;
        line-height: 144%;
        margin-bottom: 30px;
    }

    &__subtitle {
        padding: 30px;
        border-radius: 10px;
        font-size: 18px;
        line-height: 100%;
        background-color: #14141D;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
    }
}



.other {
    &__inner {
        padding: 80px 0;
    }

    &__title {
        font-size: 40px;
        line-height: 144%;
        margin-bottom: 40px;

        @media (max-width: 768px) {
            font-size: 30px;
            line-height: 124%;
            margin-bottom: 30px;
        }
        @media (max-width: 576px) {
            font-size: 28px;
            margin-bottom: 20px;
        }
    }
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 0 15px;
    @media (max-width: 768px) {

    }
    @media (max-width: 576px) {
        flex-direction: column;
        gap: 20px 0;
    }
    gap: 0 20px;
}
.item {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #14141d;
    transition:
        transform 0.3s ease,
        background-color 0.2s ease;
    min-width: 385px;
    @media (max-width: 768px) {
        min-width: 0px;
        width: auto;
    }
    &:hover {
        transform: scale(1.05);
        background-color: #22222f;
    }
    &__image {
        align-self: center;
        margin-bottom: 40px;
        img {
            max-width: 100px;
            height: auto;
            max-height: 190px;
        }
    }

    &__title {
        font-size: 24px;
        line-height: 100%;
        margin-bottom: 30px;
    }

    &__cost {
        display: flex;
        gap: 0 30px;
        transform: translateY(25px);
        font-weight: 300;
        font-size: 18px;
        line-height: 100%;
        @media (max-width: 768px) {
            gap: 0 15px;
        }
        span {
            color: #818181;
            text-decoration: line-through;
        }
    }

    &__favorite {
        // grid-row: 3 / 4;
        align-self: end;
        z-index: 2;
    }
}

.item__link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.footer {
    border-top: 1px solid #32323d;
    text-transform: uppercase;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 15px;
    font-weight: 500;
    @media (max-width: 768px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    a {
        transition: color 0.2s ease-in-out;
        &:hover {
            color: #e2b587;
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: center;
        }
    }

    &__logo {
        @media (max-width: 768px) {
            order: 2;
        }
    }

    &__content {
        margin-right: auto;
        margin-left: 200px;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 25px 0;
        // max-height: 130px;
        flex-wrap: wrap;
        @media (max-width: 768px) {
            order: 1;
        }
    }
}
